 .pagination {
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
    font-size: 14px;
}

.btn {
    margin: auto 20px;
    background-color:#f7d08a;
    color: red;
    font-size: 20px;
    text-transform: uppercase;
  }
  
  btn btn-primary:hover {
    animation: shake 0.7s;
    animation-iteration-count: infinite;
  
    background-color: rgb(106, 177, 35);
    color: #000;
  } 

  .page-item {
      width: 20px;
      height: 20px;
      margin: 5px;
      background-color: #f7d08a;
      border-radius: 3px;
  }

  .page-item:hover {
      background-color: rgb(106, 177, 35);
  }  