.homepageContainer {
  width: 100%;
}

.headerBlock {
  height: 95vh;
}

.headerBlock,
.artServices, .gallery {
  margin: 20px 60px 0;
}

.headerImage {
  background-image: url("https://images.unsplash.com/photo-1563000215-e31a8ddcb2d0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1156&q=80");
  background-position: center;
  background-color: #cccccc;
  height: 70vh;
}

/* HEADER */
.introText {
  padding: 30px 0 0;
  align-items: left;
}

.introText h1 {
  font-size: 35px;
  text-align: left;
}

.quote {
  font-size: 20px;
  letter-spacing: -0.04em;
  padding-bottom: 10px;
  color: #8E530C;
  font-style: italic;
  text-align: left;
}

.quote span {
  font-style: bold;
  font-size: 17px;
}
.homeText {
  margin-bottom: 20px;
  font-size: 18px;
}

/* GALLERY */
.gallery {
  padding: 20px 0 0;
  height: fit-content;
}

.imageHolder {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.respImage {
  width: auto;
  height: 210px;

  border: 1px solid #8E530C;
  border-radius: 4px;
  padding: 3px;
}

.respImage:hover {
  padding: 5px;
  height: 225px;
}

/* ART SERVICES */
.h2Art {
  padding-top: 10px;
  font-size: 28px;
  margin-bottom: 15px;
  text-align: left;
}

.serviceHolder {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* flex-flow: row wrap; */
  gap: 30px;
}

.browseArt,
.saveArt {
  max-width: 50%;
}

.h3Art {
  text-align: left;
  font-size: 25px;
  color: #8E530C;
}

.serviceText {
  max-width: 100%;
  padding: 5px 0;
  text-align: left;
  margin: 0;
  letter-spacing: 1px;
  font-size: 18px;
  margin-bottom: 5px;
}

.responsiveImage {
  width: 100%;
  height: auto;
}

.serviceButtons {
  border-radius: 50px;
  border: none;
  outline: none;
  background: #E5890A;
  font-size: 17px;
  padding: 10px 40px;
  color: #fff;
  box-shadow: 1px 1px 3px #91550C;
}


.serviceButtons:disabled {
  opacity: 0.3;
}

.serviceButtons:hover {
  box-shadow: 1px 1px 5px #E5890A;
}

/* LINE */
.hrHolder {
  margin: 30px 0 10px;
  height: 20px;
}

.separator {
  height: 8px;
  background-image: linear-gradient(90deg, #000, transparent);
  border: 0;
  height: .7px;
}
#message{
  font-size: 40px;
  margin: 50px auto;
  text-align: center;
}

@media screen and (max-width: 600px) {
    .headerBlock,
  .artServices {
    margin: 20px 0 0;
    height: fit-content;
  }

  .serviceHolder {
    flex-direction: column;
  }

  .browseArt,
  .saveArt {
    max-width: 100%;
  }

  .gallery {
    margin: 20px 0 0;
  }

  .imageHolder {
    justify-content: center;
    gap: 10px;
  }
  .respImage {
    max-width: 100%;
    height: auto;
  }

  .respImage:hover {
    padding: none;
    height: inherit;
  }


}